$color-primary: #ff554f;
$color-black: #000;
$color-white: #fff;
$color-grey-light: #ced4da;
$color-grey-dark: #212529;

html{
  font-size: 10px;
}
body{
  position: relative;
  margin: 0rem;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.landing{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $color-primary;
  height: 100vh;
  &__logo {
    position: absolute;
    height: 150px;
    top: 30px;
    left: 30px;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-name: bounce;
}
}
.game-start{
  width: 60%;
  &__title{
    font-size: 4rem;
    margin-top: 1.5rem;
    color: white;
    letter-spacing: 2rem;
}
  &__select{
}
}
.input{
  margin-bottom: 1rem;
  height: 3rem;
  width: 30rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid $color-grey-light;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select{
  height: 4rem;
  width: 10rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: $color-grey-dark;
  text-align: left;
  list-style: none;
  border: 1px solid $color-grey-light;
  border-radius: 0.25rem;
  &__item{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: $color-grey-dark;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
}
.button{
  outline: none;
  border-radius: 5rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease 0s;
  &--primary{
    margin-top: 6rem;
    width: 20rem;
    color: $color-white;
    background: $color-primary;
    border: 2px solid $color-white;
    padding: 2rem;
    &:active {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
    }
    &:hover{
      color: $color-primary;
      background: $color-white;
      transition: all 0.4s ease 0s;
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
  }
    &--small{
      outline: none;
      font-size: 1rem;
      height: 6rem;
      width: 12rem;
      color: $color-white;
      background: $color-primary;
      border: 2px solid $color-white;
      &:hover{
        color: $color-primary;
        background: $color-white;
        transition: all 0.4s ease 0s;
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      }
      &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
      }
    }
  &--active{
    color: $color-primary;
    background: $color-white;
  }
}
@keyframes bounce {
0%   { transform: scale(1,1)      translateY(0); }
10%  { transform: scale(1.1,.9)   translateY(0); }
30%  { transform: scale(.9,1.1)   translateY(-10rem); }
50%  { transform: scale(1.05,.95) translateY(0); }
57%  { transform: scale(1,1)      translateY(-2rem); }
64%  { transform: scale(1,1)      translateY(0); }
100% { transform: scale(1,1)      translateY(0); }
}
@media only screen and (max-width: 1000px) {
html{
  font-size: 8px;
}
.landing__logo{
  height: 120px;
}
}


.question{
  width: 70%;
  &__title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    color: white;
    letter-spacing: 0.5rem;
  }
}
.admin{

}
.admin-sidenav {
    height: 100%;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-primary;
    overflow-x: hidden;
    padding-top: 20px;
  &__select{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: $color-white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    outline: none;
    margin-bottom: 2rem;
    &:after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $color-white;
      transition: width .3s;
    }
    &:hover:after{
      width: 65%;
      transition: width .3s;
    }
    &--admin{
      font-size: 3rem;
    }
  }
  &__separator{
    background-color: rgba(255,255,255, .5);
    margin-bottom: 5rem;
    margin-top: 2rem;
    width: 20rem;
    height: 1px;
  }
}
.admin-content{
  margin-top: 1rem;
  display: flex;
  text-align: center;
  width: 85vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  justify-content: center;
}
.game-result{
  &__title{
    font-size: 3.5rem;
    margin-top: 1.5rem;
    color: white;
    letter-spacing: 0.5rem;
  }
  &__score{
    font-size: 2.25rem;
    margin-top: 1.5rem;
    color: white;
    letter-spacing: 0.5rem;
  }
}
.login {
  margin-top: 12.5rem;
  &__input{
    display: block;
    margin-bottom: 0.5rem;
  }
  &__label{
    margin-bottom: 1rem;
    color: $color-primary
  }
}
.title{
  margin-top: 12.5rem;
  font-size: 3.5rem;
  color: $color-primary;
  letter-spacing: 0.5rem;
}